@import './rspress.css';
@import './normalize.css';

:root {
  --rp-home-hero-name-color: #222;
  --rp-c-text-2: #333;
}

.dark {
  --rp-home-hero-name-color: #eee;
  --rp-c-text-2: #aaa;
}

.button_72e53.brand_72e53 {
  background: #2272eb;
}

@media (max-width: 640px) {
  .modal_6e282 {
    width: 84vw;
  }
}

@media (max-width: 960px) {
  .modal_6e282 {
    margin-top: 3rem;
  }
}

@media (max-width: 768px) {
  div.social-links {
    margin-top: 0.75rem;
  }
}
