:root {
  --rp-home-hero-name-color: #222;
  --rp-c-text-2: #333;
}

.dark {
  --rp-home-hero-name-color: #eee;
  --rp-c-text-2: #aaa;
}

.button_72e53.brand_72e53 {
  background: #2272eb;
}

.m-auto .flex .flex-col .md:flex-row .max-w-6xl .min-h-[50vh] .mt-12 .sm:mt-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.rspress-home-hero-tagline {
  font-size: 0.875rem !important; /* text-sm */
}

@media (min-width: 640px) {
  .rspress-home-hero-tagline {
    font-size: 1.25rem !important; /* text-xl */
  }
}

@media (min-width: 768px) {
  .rspress-home-hero-tagline {
    font-size: 1.5rem !important;
  }
}
